@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /* Primary */

--Dark-cyan: hsl(185, 75%, 39%);
--Very-dark-desaturated-blue: hsl(229, 23%, 23%);
--Dark-grayish-blue: hsl(227, 10%, 46%);

    /* Neutral */

--Dark-gray: hsl(0, 0%, 59%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--Dark-grayish-blue);
    background: white url(../images/bg-pattern-card.svg) center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    background-color: white;
    width: 325px;
    min-height: 380px;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.397);
    transition: all .5s;
}

.top {
    background: url(../images/bg-pattern-card.svg) left center
    no-repeat;
    background-size: cover;
    height: 40%;
    width: 100%;
}

img {
    position: absolute;
    border: 5px solid white;
    border-radius: 50%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.personal {
    margin-top: 20%;
    margin-bottom: .75em;
    line-height: 1.5rem;
    border-bottom: 1px solid rgb(236, 236, 236);
    padding-bottom: .75rem;
}

.name {
    color: var(--Very-dark-desaturated-blue);
    font-size: 1.1rem;
}

.city {
    font-size: .8125rem;
}

.stats {
    display: flex;
    justify-content: space-around;
}

.stats > div {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: .6875rem;
}

.qty {
    font-size: 1.125rem;
    color: var(--Very-dark-desaturated-blue);
    font-weight: 900;
    margin-bottom: .4375rem;
}

.attribution {
    font-size: 11px; 
    text-align: center;
    margin-top: 20px;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

@media screen and (min-width:992px) {
    .card {
        width: 450px;
        height: 480px;
    }

    .personal {
        margin-top: 15%;
    }

    .stats {
        height: 25%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}